#game {
    height: 210px;
    width: 210px;
    border: 1px solid brown;
    background-color: #EEEEEE;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -125px;
    margin-left: -125px;
}

#game div {
    width:68px;
    height:68px;
    border: 1px solid brown;
    float: left;
    font-size: 53px;
    text-align: center;
}

#game div:hover {
    background-color: #AAAAAA;
}